*, 
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

.home{
    background-image: url("./assets/earl-wilcox-y3W0CzO063w-unsplash-alt.jpg");
    color: white;
    height: 50rem;
}

.Products {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    height: 20px;
}

.footer-widgets .widget_nave_menu li {
    display: inline-block;
    text-align: right;
    padding: 3px;
    background-color: #bf7631;
    color: white;
}